{
    "api_provider": "vbb-test",
    "api_key": "foobar",
    "requests_max_per_day": 1000,
    "stop_ids": "900170004",
    "request_hours": 3,
    "data_sources": "departures",
    "remove_string": "",
    "ignore_destination": "",
    "screen_rotation": 0,
    "show_vehicle_type": true,
    "large_minutes": true,
    "coloured_lines": true,
    "offset": 0,
    "line_height": 70,
    "line_font":{"asset_name": "silkscreen.ttf"},
    "heading_font":{"asset_name": "silkscreen.ttf"},
    "heading_colour": {"r": 1, "g": 1, "b": 1, "a": 1},
    "time_font":{"asset_name": "silkscreen.ttf"},
    "time_colour": {"r": 1, "g": 1, "b": 1, "a": 1},
    "time_font":{"asset_name": "silkscreen.ttf"},
    "time_colour": {"r": 1, "g": 1, "b": 1, "a": 1},
    "background_colour": {"r": 0, "g": 0, "b": 0, "a": 1}
}
